.adminLayout {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  background: #e9eaf4;
  animation: forwards 1s;
  transition: 0.2s ease-in-out;
  // width: 100vw;
  // height: 100vh;

  //   transition: 0.2s all;
}

.adminLayout_main {
  width: 80%;
  // transition: 0.2s ease-in-out;
  // transition: all 0.7s ease-in-out;
  margin-left: 0;
  transition: width 0.3s ease, margin-left 0.3s ease;
}

.adminLoader {
  height: 80vh;
  margin: 5rem;
  width: 90vw;
}

.adminRingLoader {
  height: 100vh;
  svg {
    width: 500px;
    height: 500px;
    margin: auto;
    stroke: #ec6336;
  }
}

.admin_hero {
  width: 80vw;
  padding: 3rem 0 0;
}
