.verify_email {
    background-color: #FFFFFF;
    width: 600px;
    height: 380px;
    padding: 50px 100px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    margin-top: 6rem;
}

.btn_verify {
    padding: 0px;
    margin-top: 2rem;
    display: flex;
    // cursor: pointer;
    justify-content: center;
}

.verify_email_error {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 40px;
    color: #f00;
    min-height: 15px;
    margin-bottom: -20px;
    p {
        margin: 0;
    }
}
.verify_email_success {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 40px;
    margin-bottom: -20px;
    color: green !important;
    min-height: 15px;
    p {
        margin: 0;
    }
}

.verify_email_backToLogin {
    display: flex;
    justify-content: center;
    font-size: 12px;
    // font-weight: bold;
    margin-top: 10px;
    a {
        margin-left: 5px;
        color: #EC6336;
        text-decoration: none;
        font-weight: 500;
    }
}