.coverLetterTips {
  position: absolute;
  right: -15.5rem;
  font-size: 11px;
  width: 250px;

  .coverLetterTips_tip_1 {
    display: flex;
    justify-content: start;
    // align-items: center;
    gap: 1.5rem;
    .coverLetterTips_section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
    .proTip_heading {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      font-weight: bold;
      font-size: 13px;
    }
  }

  .bracket {
    width: 30px;
    height: 135px;
    border-right: 4px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    .bracket_line {
      width: 10px;
      height: 3px;
      // background-color: black;
      position: absolute;
      right: -12px;
    }
  }
}
.coverLetterTips_left {
  left: -16rem !important;
  right: auto !important;
  .coverLetterTips_tip_1 {
    flex-direction: row-reverse !important;
    // gap: 0rem !important;
  }
  .bracket {
    border-right: none;
    border-left: 4px solid;
  }
  .bracket_line {
    left: -12px;
    right: auto;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 13px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 7px;
  width: 7px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #10b93f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #10b93f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
