.coverLetterTips {
  position: absolute;
  right: -15.5rem;
  font-size: 11px;
  width: 250px;

  .coverLetterTips_tip_1 {
    display: flex;
    justify-content: start;
    // align-items: center;
    gap: 1.5rem;
    .coverLetterTips_section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
    .proTip_heading {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      font-weight: bold;
      font-size: 13px;
    }
  }

  .bracket {
    width: 30px;
    height: 135px;
    border-right: 4px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    .bracket_line {
      width: 10px;
      height: 3px;
      // background-color: black;
      position: absolute;
      right: -12px;
    }
  }
}
.coverLetterTips_left {
  left: -16rem !important;
  right: auto !important;
  .coverLetterTips_tip_1 {
    flex-direction: row-reverse !important;
    // gap: 0rem !important;
  }
  .bracket {
    border-right: none;
    border-left: 4px solid;
  }
  .bracket_line {
    left: -12px;
    right: auto;
  }
}

.headlineLabel {
  margin-bottom: 16px;
  font-size: 10px;
  font-weight: bold;
  span {
    background: #c95204;
    color: white;
    padding: 3px 6px;
    border-radius: 50px;
  }
}

.linkedInProfileData {
  .profileDataLabel {
    margin-bottom: 16px;
    font-size: 10px;
    font-weight: bold;
    span {
      background: #1c7dfc;
      color: white;
      padding: 3px 6px;
      border-radius: 50px;
    }
  }
}
