@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital&display=swap');

@import 'styles/sass/partials/colors.scss';
@import 'styles/sass/partials/text.scss';
@import 'styles/sass/landing.scss';
@import 'styles/sass/landingPage.scss';
@import 'styles/sass/login.scss';
@import 'styles/sass/signup.scss';
@import 'styles/sass/forgotPassword.scss';
@import 'styles/sass/updatePassword.scss';
@import 'styles/sass/emailLink.scss';
@import 'styles/sass/profile.scss';
@import 'styles/sass/resume.scss';
@import 'styles/sass/subscription.scss';
@import 'styles/sass/builder.scss';
@import 'styles/sass/verifyEmail.scss';
@import 'styles/sass/BuilderChooseBlankOrExample.scss';
@import 'Components/BuilderWrapper/BuilderHeader/BuilderHeader.scss';
@import 'Components/BuilderWrapper/BuilderSubHeader/BuilderSubHeader.scss';
@import 'Components/BuilderWrapper/BuilderEditor/BuilderEditor.scss';
@import 'Components/BuilderWrapper/BuilderDocument/BuilderDocument.scss';
@import 'Components/BlankTemplate/BlankTemplate.scss';
@import 'Components/Templates/Template1/Template1.scss';
@import 'Components/Templates/Template2/Template2.scss';
@import 'styles/sass/chooseTemplate.scss';
@import 'Components/Templates/Template3/Template3.scss';
@import 'Components/Templates/Template4/Template4.scss';
@import 'Components/Templates/Template5/Template5.scss';
@import 'Components/Templates/Template6/Template6.scss';
@import 'Components/Templates/Template7/Template7.scss';
@import 'Components/Templates/Template8/Template8.scss';
@import 'Components/Templates/Template9/Template9.scss';
@import 'Components/Templates/Template10/Template10.scss';
@import 'Components/Templates/Template11/Template11.scss';
@import 'Components/Templates/Template12/Template12.scss';
@import 'Components/Templates/Template13/Template13.scss';
@import 'Components/Templates/Template14/Template14.scss';
@import 'Components/Templates/Template15/Template15.scss';
@import 'Components/Templates/Template16/Template16.scss';
@import 'Components/Templates/Template17/Template17.scss';
@import 'Components/Templates/Template18/Template18.scss';
@import 'Components/Templates/Template19/Template19.scss';
@import 'Components/Templates/Template20/Template20.scss';

@import 'Components/CoverLetterDocument/CoverLetterDocument.scss';
@import 'styles/sass/coverLetter.scss';
@import 'styles/sass/category.scss';

@import 'layout/AdminLayout/AdminLayout.scss';
@import 'Components/Admin/Sidebar/Sidebar.scss';
@import 'styles/sass/linkedIn.scss';
@import 'styles/sass/createLinkedInTemp.scss';
@import 'Components/LinkedIn/LinkedInDocument/LinkedInDocument.scss';
@import 'Components/Admin/Admin_BuilderEditor/Admin_BuilderEditor.scss';

@import 'Components/Profile/ProfileHeader/index.scss';
@import 'Components/Profile/ProfileSidebar/index.scss';

@import 'styles/sass/profileDashboard.scss';

@import 'styles/sass/admin_dashboard.scss';
@import 'styles/sass/AllUsers.scss';
@import 'styles/sass/pricing.scss';
@import 'pages/Subscribe/Subscribe.scss';
@import 'pages/Stripe/CheckoutForm/checkoutForm.scss';

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

.fallback_loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .builder_loader {
    position: relative;
    top: 0;
  }
}

@media screen and (min-width: 1024px) {

.profile_left{
  width:'100%' !important;
}

  
}
