.main_header_forgot {
    color: #EC6336;
    margin-bottom: 0;
    width: 130%;
    text-align: center;
    cursor: pointer;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main_header_forgot:hover {
    text-decoration: none;
    color: #EC6336;
}

.main_header_forgot_active {
    width: 40%;
    height: 5px;
    background: #EC6336;
    border-radius: 20px;
    margin-top: 0;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.email_forgot {
    border-radius: 5px;
    border: none;
    outline: none;
    background: #DCE2ED52;
    width: 100%;
    padding: 1rem;
    font-size: 12px;
    margin-top: 25px;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn_reset {
    width: 100%;
    border: none;
    background: #EC6336;
    color: white;
    border-radius: 10px;
    padding: 9px;
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}


.btn_reset:focus{
    outline: none;
}

.mail {
    display: none;
    margin-top: 40px;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    // position: relative;
}
@keyframes mail {
    from {left: 0%;}
    to {left: 90%;}
  }

.mail_img {
    position: relative;
    // left: 90%;
    animation: mail 3s ;
    // transition: all;
}

.mail_footer {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    background: #EC6336;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mail_footer_only {
    display: none;
    width: 100%;
    height: 6px;
    margin-top: 60px;
    border-radius: 10px;
    background: #EC6336;
    animation: forwards;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.saperator_reset {
    display: flex;
    gap: 2rem;
    margin-top: 25px;
    color: #EC6336;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.saperator_line {
    width: 100%;
    height: 1px;
    background-color: #EC6336;
    margin-top: 2px;
}

.credit_reset {
    font-size: 12px;
    margin-top: 25px;
    text-align: center;
    // transition: all;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);

    a {
        color: #EC6336;
        text-decoration: none;
    }
    
}

@keyframes expand {
    from {height: 6px;}
    to {height: 42px;}
  }
@keyframes expandMore {
    from {height: 42px;}
    to {height: 211px;}
  }


.expandBar {
    // height: 42px;
    animation: expand 3s;
}
.expandBarAgain {
    // height: 211px;
    animation: expandMore 5s;
    
}
.mailSuccess {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 211px;
    margin-top: 60px;
    border-radius: 10px;
    background: #EC6336;

    .loader_signUp {
        width: 200px !important;
        height: 35px !important;
    }
    
}

.mailSuccess_img {
    width: 80px;
}

.mailSuccess_text {
    margin: 30px;
    color: black;
    font-weight: 700;
    font-size: 12px;
}


.backToLogin {
    font-size: 12px;
    font-weight: bold;
    a {
        text-decoration: none;
        // font-weight: bold;
        font-weight: 500;
        color: white;
    }
    a:hover {
        opacity: 0.8;
    }
}